<div class="container mt-4">
  <h1>Tabla de Usuarios</h1>
  <table class="table table-striped table-hover table-responsive">
    <thead>
      <tr>
        <th>Nombre y apellido</th>
        <th>Email</th>
        <th>Es Admin</th>
        <th>Deshabilitar</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {{#each resp}}
      <tr>
        <td>{{this.name}} {{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>
          <div class="form-check">
            {{#if this.isAdmin}}
            <i class="bi bi-toggle-on"></i>
            {{else}}
            <i class="bi bi-toggle-off"></i>
            {{/if}}
          </div>
        </td>
        <td>
          <div class="form-check">
            <div class="form-check">
              {{#if this.disabled}}
              <i class="bi bi-toggle-on"></i>
              {{else}}
              <i class="bi bi-toggle-off"></i>
              {{/if}}
            </div>
        </td>
        <td>
          <a class="btn btn-danger delete-btn" href="delete-user/{{this._id}}">Eliminar</a>
          <a class="btn btn-primary edit-btn" href="edit-user/{{this._id}}">Editar</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>